body {
    margin: 0;
    background: #64b4ff;
    position: relative;
}

#playground {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

#results-list {
    position: absolute;
    top: 3px;
    left: 3px;

    color: #eee;
    background-color: rgba(4, 4, 4, 0.6);

    font-size: 14px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

    padding: 5px 10px;
    border-radius: 3px;
    transition: all 0.5s;
}

#results-list ul {
    list-style: none;
    margin: 5px 5px 5px 0;
    padding: 0;
    text-align: left;
}

#results-list ul li.winner {
    color: #64b4ff;
}

#results-list ul li strong {
    font-weight: bold;
    width: 25px;
    display: inline-block;
    text-align: right;
}
